{% extends "main.html" %}
{% block main %}
<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="fw-bold mb-4">Thank You!</h1>
                        <h3>Your order has been successfully placed.</h3>
                        <p>We have received your payment and your order is being processed.</p>
                        <a href="{% url 'home' %}" class="btn btn-success btn-lg mt-3">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
